{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="col1">
    <h2>Students</h2>
    <h4><a href="/students/add">Add Student</a></h4>
    {% for year, student_list in students.items %}
        <h3>{{ year }}:</h3>
        <ul>
            {% for student in student_list %}
                <li style="color: {{ student.get_color }}">
                    <a href="/students/{{ student.stdid }}/">{{ student.stdid }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
<div class="col1">
    <h2>Courses</h2>
    <ul>
    {% for course in courses %}
        <li>{{ course.name }} ({{ course.get_assignments_count }})</li>
    {% endfor %}
    </ul>
</div>
<div class="col1">
    <h2>Grades</h2>
</div>
</body>
{% endblock %}
